$red: rgb(202, 60, 60);
$green: rgb(28, 184, 65);
$orange: #ffa500;
$magenta: #b0b;
$gray: #666;
$light-gray: #aaa;
$subtle-gray: #ccc;
$white: #fff;
$blue: #0078e7;
$light-blue: rgb(66, 184, 221);
$dark-blue: #309;
$dark-gray: #333;

$header-height: 20px;
$section-padding: 10px;
$sidebar-1-width: 120px;
$sidebar-2-width: 200px;
