$red: rgb(202, 60, 60);
$green: rgb(28, 184, 65);
$orange: rgb(223, 117, 20);
$magenta: #b0b;
$gray: #666;
$light-gray: #aaa;
$white: #fff;
$blue: #0078e7;
$light-blue: rgb(66, 184, 221);
$dark-blue: #309;
$dark-gray: #333;
